* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background: url(Pics/Bg3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: 2.2rem;
  font-weight: bold;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: rgb(235, 255, 16);
}

.container form > label {
  font-family: verdana;
  font-size: 1.3rem;
  font-weight: bold;
  color: whitesmoke;
}

.container form > input {
  border-radius: 0.2rem;
  background-color: transparent;
  width: 280px;
  height: 36px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 4px solid white;
  color: rgb(235, 255, 16);
  outline: none;
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 1.2px;
}

.btn button {
  background-color: rgb(109, 152, 9);
  font-size: 2rem;
  font-family: algerian;
  border: none;
  border-radius: 0.2rem;
  padding: 5px;
  width: 240px;
  color: white;
}

.btn button > a {
  text-decoration: none;
  color: white;
}

.btn button:hover {
  background-color: black;
  transition: 0.5s;
  cursor: pointer;
}

.social i {
  font-size: 2rem;
  font-weight: bold;
  margin: 0px 14px 0px 14px;
}

.social .fa-whatsapp {
  color: green;
}
.social .fa-facebook {
  color: blue;
}
.social .fa-twitter {
  color: #1da1f2;
}
.social .fa-instagram {
  color: #e1306c;
}

.have p > a {
  color: rgb(235, 255, 16);
  font-size: 1.4rem;
  font-weight: bolder;
  filter: brightness(40%);
}
